/* You can add global styles to this file, and also import other style files */
.progress{
    display: block;
    width: 100%;
    height: 20px;
}
.scroller {
    white-space: pre-line;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    flex: auto 1 1;
}
h1{
    margin:auto;
    line-height:100px;
    vertical-align:middle;
}