<div class="tab-wrapper form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="startStopMoonGen">MoonGen:</label>
        <div class="col-sm-10">
            <div class="btn-group" id="startStopMoonGen">
                <label class="btn btn-primary" [(ngModel)]="status"
                       [btnRadio]="1" (click)="startMoonGen()">Start</label>
                <label class="btn btn-primary" (click)="stopMoonGen()" [(ngModel)]="status" [btnRadio]="0">Stop</label>
                <label class="btn btn-primary" [(ngModel)]="status"
                       [btnRadio]="2">Restart</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="title-moongui">Title:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="title" (input)="changeTitle($event)" (change)="changeTitle($event)" class="form-control" type="text" name="title-moongui" id="title-moongui">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="author-moongui">Author:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="author" (input)="changeAuthor($event)" (change)="changeAuthor($event)" class="form-control" type="text" name="author-moongui" id="author-moongui">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="script-moongui">Script:</label>
        <div class="col-sm-10">
            <select id="script-moongui" class="form-control" [(ngModel)]="script" (ngModelChange)="changeScript($event)">
                <option *ngFor="let script of configurationList; let i=index" [ngValue]="i">{{script.name}}</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="control-label col-sm-2" for="title-moongui">Description:</label>
            <div class="col-sm-10">
                {{ getProbDescription() }}
            </div>
    </div>
</div>