<div class="tab-wrapper">
 <div class="label"><label for="startStopMoonGen">MoonGen</label></div>
<div [(ngModel)]="status" ngbRadioGroup name="radioBasic" id="startStopMoonGen">
  <label class="btn btn-primary" (click)="startMoonGen()">
    <input type="radio" [value]="1">Start
  </label>
  <label class="btn btn-primary" (click)="stopMoonGen()">
    <input type="radio" [value]="0"> Stop
  </label>
  <label class="btn btn-primary">
    <input type="radio" [value]="2"> Restart
  </label>
</div>
</div>