<div>
    <datatable class="material fullscreen" [selected]="selected" [rows]="rows" [selectionType]="'single'" (select)="onSelect($event)" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true" [scrollbarV]="true" >
        <datatable-column name="Id" [width]="80" prop="id" ></datatable-column>
        <datatable-column name="Name" [width]="300" prop="name"></datatable-column>
        <datatable-column name="Script" prop="script"></datatable-column>
        <datatable-column name="Date" prop="date"></datatable-column>
        <datatable-column name="Author" [width]="300" prop="author"></datatable-column>
    </datatable>
</div>
<!--TODO Add Modul to Delete or Show-->