<div>
<div></div>
<button (click)="editModal.show()" type="button" class="btn btn-primary" style="position:relative;top:-400px;-moz-transform: rotate(-90deg); /* Firefox 3.6 Firefox 4 */-webkit-transform: rotate(-90deg); /* Safari */-o-transform: rotate(-90deg); /* Opera */-ms-transform: rotate(-90deg); /* IE9 */transform: rotate(-90deg); /* W3C */">
        Edit
</button>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit of Histogram: {{ title }}</h4>
            </div>
            <div class="modal-body">
                <!--TODO Edit Modal for Editing of Graph with use of Tabs-->
                ...
            </div>
        </div>
    </div>
</div>