<div>
    <div></div>
    <button (click)="editModal.show()" type="button" class="btn btn-primary"
            style="position:relative;top:-500px;">
        Edit
    </button>
</div>

<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit of Histogram: {{ title }}</h4>
            </div>
            <div class="modal-body">
                <tabset>
                    <tab heading="X-Axis">
                        <div class="tab-wrapper form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Name</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input [(ngModel)]="layout.xaxis.title"
                                               (ngModelChange)="changeXAxisTitle($event)" class="form-control"
                                               type="text" title="Name of X-Axis">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Range</label>
                                <div class="col-sm-2">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" [(ngModel)]="layout.xaxis.autorange" (ngModelChange)="changeXAxisAutoRange($event)"
                                               btnCheckbox>{{ xAxisRange }}</label>
                                    </div></div>
                                <div class="col-sm-2">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" [(ngModel)]="xAxisPercentile" (ngModelChange)="changeXAxisPercentile($event)"
                                               btnCheckbox>{{ xAxisPercentileTitle }}</label>
                                    </div></div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div [hidden]="layout.xaxis.autorange || xAxisPercentile" class="form-group row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <nouislider [connect]="true" [min]="rangeMin" [max]="rangeMax" [step]="rangeStep"
                                                    [(ngModel)]="layout.xaxis.range"
                                                    (ngModelChange)="changeXAxisRange($event)"></nouislider>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="layout.xaxis.autorange || xAxisPercentile" class="form-group row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3" *ngFor="let item of layout.xaxis.range;let i=index">
                                    <input *ngIf="i==0" [min]="rangeMin" [max]="getPropRange(i+1)" [step]="rangeStep" [ngModel]="getPropRange(i)" (ngModelChange)="changeXAxisRangeNumber($event,i)" class="form-control"
                                                                                                                  type="number">
                                    <input *ngIf="i==1" [min]="getPropRange(i-1)" [max]="rangeMax" [step]="rangeStep" [ngModel]="getPropRange(i)" (ngModelChange)="changeXAxisRangeNumber($event,i)" class="form-control"
                                           type="number">
                                </div>
                            </div>
                            <div [hidden]="layout.xaxis.autorange || !xAxisPercentile" class="form-group row"><!--TODO Testen-->
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <nouislider [min]="0" [max]="100" [step]="1"
                                                    [(ngModel)]="xAxisPercentileValue"
                                                    (ngModelChange)="changeXAxisPercentileRange($event)"></nouislider>
                                    </div>
                                </div>
                            </div>
                            <div [hidden]="layout.xaxis.autorange || !xAxisPercentile" class="form-group row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-3">
                                    <input [min]="0" [max]="100" [step]="1" [ngModel]="xAxisPercentileValue" (ngModelChange)="changeXAxisPercentileRange($event)" class="form-control"
                                           type="number">
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Y-Axis">
                        <div class="tab-wrapper form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-sm-4">Name</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input [(ngModel)]="layout.yaxis.title"
                                               (ngModelChange)="changeYAxisTitle($event)" class="form-control"
                                               type="text" title="Name of Y-Axis">
                                    </div>
                                </div>
                            </div>
                            <!--TODO-->
                        </div>
                    </tab>
                </tabset>
                <!--TODO Edit Modal for Editing of Graph with use of Tabs-->
            </div>
        </div>
    </div>
</div>