<div [ngClass]="{'flex-grow':!toggle.output}" [hidden]="!toggle.config" class="flex-config">
    //TODO Tabs
</div>
<div class="stretch ui-splitbar animate-column">
  <a (click)="toggleFirstLevel('right')" [hidden]="!toggle.output"><span class="ui-splitbar-icon ui-splitbar-icon-right"></span></a>
  <a (click)="toggleFirstLevel('left')" [hidden]="!toggle.config"><span class="ui-splitbar-icon ui-splitbar-icon-left"></span></a>
</div>
<div [hidden]="!toggle.output" class="flex-output  ui-layout-row">
    <div [hidden]="!toggle.graph" class="flex-graph">
        //TODO Graph Components
    </div>
    <div class="stretch ui-splitbar animate-row">
        <a (click)="toggleSecondLevel('right')" [hidden]="!toggle.log"><span class="ui-splitbar-icon ui-splitbar-icon-up"></span></a>
        <a (click)="toggleSecondLevel('left')" [hidden]="!toggle.graph"><span class="ui-splitbar-icon ui-splitbar-icon-down"></span></a>
    </div>
    <div [ngClass]="{'flex-grow':!toggle.graph}" [hidden]="!toggle.log" class="flex-log">
        //TODO
    </div>
</div>

