<ngb-tabset type="tabs">
    <ngb-tab title="Start/Stop" [disabled]="tabs[0].disabled">
        <template ngbTabContent>
            <app-config-start></app-config-start>
        </template>
    </ngb-tab>
    <ngb-tab title="Configuration" [disabled]="tabs[1].disabled">
        <template ngbTabContent>
            TODO
        </template>
    </ngb-tab>
    <ngb-tab title="System" [disabled]="tabs[2].disabled">
        <template ngbTabContent>
            TODO
        </template>
    </ngb-tab>
    <ngb-tab title="Graph" [disabled]="tabs[3].disabled">
        <template ngbTabContent>
            TODO
        </template>
    </ngb-tab>
</ngb-tabset>