:host{
    min-height: 80px;
    max-height: 200px;
    height: 10%;
    width:100%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    box-shadow:  1px 1px 10px 0px rgba(0,0,0,0.6);
    border-bottom-color: #8c8c8c;
    border-bottom-style: inset;
    text-align: center;
    background-position: 30%;
    background-image: url("images/moongenlogo.png");
    background-repeat: no-repeat;
    -webkit-background-size:50px;
    background-size:50px;
}