<div class="tab-wrapper form-horizontal" *ngIf="configurationObject.configuration">
  <div class="interfaces" *ngIf="configurationObject.configuration.interfaces.length!=0">
  <!--INTERFACES TODO HEadline-->
  <div class="form-group row" *ngFor="let interfaceItem of configurationObject.configuration.interfaces;let i=index">
    <label class="control-label col-sm-4">{{interfaceItem.name}}</label>
    <div class="col-sm-8">
      <select class="form-control" [ngModel]="getProb('interfaceNode',i)" (ngModelChange)="changeInterface($event,i)">
        <option *ngFor="let interface of interfaceList" [ngValue]="interface.index">{{interface.show}}</option>
      </select>
    </div>
  </div>
  </div>
  <!--END Interfaces-->

  <div class="form-group row">
    <label class="control-label col-sm-4" for="numberOfPackets-moongui">Number of Packets (10^):</label>
    <div class="col-sm-7">
      <input [(ngModel)]="numberOfPackets" (input)="changeNumberOfPackets($event)" (change)="changeNumberOfPackets($event)" class="form-control" type="range" min="1" max="100" step="1" name="numberOfPackets-moongui" id="numberOfPackets-moongui">
    </div>
    <div class="col-sm-1">
      {{ numberOfPackets }}
  </div>
  </div>
</div>
