.wrap {
    position: absolute;
    top: 0px;
    left:0;
    bottom:20px;
    right:0;
}

.scroller {
    white-space: pre-line;
    height: 500px;
    overflow-y: hidden;
    position: relative;
}

/*Directive: statusBar*/
status-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    height:20px;
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
}

.flex{
    display: flex;
    height:100%;
    width:100%;
}
.flex > div{

}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-header{
    min-height: 80px;
    max-height: 200px;
    height: 10%;
    width:100%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
    box-shadow:  1px 1px 10px 0px rgba(0,0,0,0.6);
    border-bottom-color: #8c8c8c;
    border-bottom-style: inset;
    text-align: center;
    background-position: 30%;
    background-image: url("images/moongenlogo.png");
    background-repeat: no-repeat;
    -webkit-background-size:50px;
    background-size:50px;
}
.flex-content{
    position: relative;
    height: 100%;
}
status-bar > div.statusContent {
    width:24.75%;
    height: 100%;
    text-align: center;
}
status-bar > div.statusDivider {
    width:0.2%;
    height: 100%;
    background: #cfe7fa; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #6393c1 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.statusConnected ,.statusRunning{
    height: 20px;
    color:white;
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}
.icon-connect,.icon-not-connect, .icon-not-running,.icon-running{
    height: 100%;
    width:20px;
    margin: 0 auto;
    background-size: 20px 20px;
}

.icon-connect{
    background-image: url("images/connect.png");
}
.icon-not-connect{
    background-image: url("images/no_connection.png");
}
.icon-running{
    background-image: url("images/running.png");
}
.icon-not-running{
    background-image: url("images/not_running.png");
}

.statusNotConnected, .statusNotRunning {
    height: 20px;
    color: white;
    background: #ff6e00; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff6e00 0%, #fc1d00 1%, #9b0803 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff6e00 0%,#fc1d00 1%,#9b0803 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff6e00 0%,#fc1d00 1%,#9b0803 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#9b0803',GradientType=0 ); /* IE6-9 */
}

status-bar > div.statusContent >progress {
    width:100%;
    height: 100%;
}
