.wrap {
    position: absolute;
    top: 0;
    left:0;
    bottom:20px;
    right:0;
}

.flex{
    display: flex;
    height:100%;
    width:100%;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
