<!DOCTYPE html>
<html ng-app="moonGuiApp">
<head>
	<meta charset="utf-8">
	<title>MoonGUI</title>
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="lib/angular-ui-layout/ui-layout.css">
    <link rel="stylesheet" href="lib/perfect-scrollbar/perfect-scrollbar.min.css" />
</head>
<body>
	<!--Normal Body TODO Flex box instead of ui-layout-->

    <div class="wrap">
    <div ui-layout>
        <div ui-layout-container size="50px">
            <!--TODO Directive header-->
            <input type="checkbox"
                   ng-model="connect">
            <input type="checkbox"
                   ng-model="running">
            <input type="text"
                   ng-model="status">
        </div><!--HEADER-->
        <div ui-layout-container="central">
            <ui-layout options="{ flow : 'column'}">
                <div ui-layout-container size="40%">
                    <perfect-scrollbar class="scroller">

                    </perfect-scrollbar>
                </div><!--Sidebar-->
                <div ui-layout-container="central">
                    <div ui-layout options="{flow : 'row'}">
                        <div ui-layout-container="central">
                            <perfect-scrollbar class="scroller">

                            </perfect-scrollbar>
                        </div><!--GRAPH-->
                        <div ui-layout-container size="20%">
                            <perfect-scrollbar class="scroller">

                            </perfect-scrollbar>
                        </div><!--LOG-->
                    </div>
                </div><!--MainContent-->
            </ui-layout>
        </div><!--CONTENT-->
    </div>
    </div>
    <!--Footer-->
    <status-bar connection-established="connect" running="running" status-message="status" progress-bar="{show : true,max:100,value:50}"></status-bar>
    <!--Scripts-->
    <script src="lib/jquery/jquery-1.11.1.min.js"></script>
    <script src="lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-ui-layout/ui-layout.js"></script>
    <script src="lib/angular-perfect-scrollbar/angular-perfect-scrollbar.js"></script>
	<script src="scripts/app.js"></script>
    <script src="scripts/directives/status-bar.js"></script>

</body>
</html>