.wrap {
    position: absolute;
    top: 0px;
    left:0;
    bottom:20px;
    right:0;
}

.scroller {
    white-space: pre-line;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.flex{
    display: flex;
    height:100%;
    width:100%;
}
.flex > div{

}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
