<div class="statusDivider"></div>
<div class="statusContent" id="statusConnection">
  <div [ngClass]="{'statusConnected':connectStatus,'statusNotConnected':(!connectStatus)}">
    <div [ngClass]="{'icon-connect':connectStatus,'icon-not-connect':(!connectStatus)}"></div>
  </div>
</div>
<div class="statusDivider"></div>
<div class="statusContent" id="statusMessage">{{status }}</div>
<div class="statusDivider"></div>
<div class="statusContent"><ngb-progressbar type="info" [animated]="true" [striped]="true" [hidden]="!progressBar.show" [max]="progressBar.max" [value]="progressBar.value"></ngb-progressbar></div>
<div class="statusDivider"></div>
<div class="statusContent">
  <div [ngClass]="{'statusRunning':running,'statusNotRunning':(!running)}">
    <div [ngClass]="{'icon-running':running,'icon-not-running':(!running)}"></div>
  </div>
</div>
<div class="statusDivider"></div>