<div class="statusDivider"></div>
<div class="statusContent" id="statusConnection">
  <div [ngClass]="{'statusConnected':connectStatus,'statusNotConnected':(!connectStatus)}">
    <div [ngClass]="{'icon-connect':connectStatus,'icon-not-connect':(!connectStatus)}"></div>
  </div>
</div>
<div class="statusDivider"></div>
<div class="statusContent" id="statusMessage">{{status }}</div>
<div class="statusDivider"></div>
<div class="statusContent"><progress class="progress progress-striped progress-animated progress-info" [hidden]="!progressBar.show" [max]="progressBar.max" [value]="progressBar.value"><span style="color:white; white-space:nowrap;">{{progressBarvalue}} / {{progressBarmax}}</span></progress></div>
<div class="statusDivider"></div>
<div class="statusContent">
  <div [ngClass]="{'statusRunning':running,'statusNotRunning':(!running)}">
    <div [ngClass]="{'icon-running':running,'icon-not-running':(!running)}"></div>
  </div>
</div>
<div class="statusDivider"></div>